body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
* {
  text-align: center;
}
h1,
h2 {
  color: red;
  text-align: center;
}

/* #featured-property {
  display: flex;
  flex-direction: column;
  justify-content: center;

} */

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px; */
}
figcaption {
  font-size: smaller;
}

#details div {
  float: left;
  margin: auto;
  width: 25%;
}

nav a {
  background-color: lightblue;
}
